* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body,
html, #div_login {
	height: 100%;
	/*gradiente da blu scuro a blu*/
	background-color: #181818;
	background-repeat: no-repeat;
}

/*LOGIN*/
.container {
	
	width: 100%;
	display: grid;
	place-items: center;
	align-content: center;
	height: 100%;
	/*centro verticale*/
	vertical-align: middle;
}


.login {
	background-color: #333333;
	width: 450px;
	height: fit-content;
	color: #f8f7fa;
	border-radius: 10px;
	padding: 10px;
}

.form-floating label{
	color: black;
}


.titolo {
	font-size: 15pt;
	font-weight: bold;
	margin-top: 10px;
	font-weight: bold;
	margin-bottom: 50px !important;
}

.error {
	color: red;
	font-size: 10pt;
	margin: 0px 5px 0 5px;
	height: 24px;
}

.input-error {
	border: 1px solid red;
}

#eyePwd {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}

#accessErr{
	margin-bottom: 10px;
}
#btnLogin{
	background: linear-gradient(45deg, #002863, #0161c2);
	margin-top: 10px;
}
.login h1{
	margin-left: 10px;
}

@media screen and (max-width: 768px) {
	.login {
		width: 100%;
	}
}

